@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');    
:root {
    --xam: #2c3e50;
    --trang: white;
    --xanh: #1abc9c;
    --den: black;
    --vang: yellow;
    --do: red;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
.container {
    width: 70%;
    margin: auto;
}
.banner {
    height: 600px;
    background-image: linear-gradient(rgba(240, 150, 232, 0.7), rgba(219, 221, 86, 0.7)),
        url(/Project2/img/banner2.png);
    background-size: cover;
    color: var(--trang);
    padding: 10px;
    position: relative;
}
.welcome button {
    padding: 15px 25px;
    border: 4px solid white;
    background: transparent;
    font-size: 15px;
    margin: 15px auto;
    outline: none;
    color: white;
}
.menu{
display: flex;
justify-content: space-between;
font-family: 'Montserrat', sans-serif;
}
.menu>a{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
   
}
nav li:hover a{
    color: yellow;
    border-bottom: 2px solid yellow;
}
.welcome {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-46%, -50%);
    text-align: center;
}
.welcome h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}
.welcome h1 {
    font-weight: bold;
    font-size: 100px;
    color: var(--trang);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 15px 0;
}
.welcome h1::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.intro{
    display: flex;
    position:absolute;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.item{
    margin: 0px 70px;
}
.gach-intro {
    border-top: 5px solid white;
    width: 120px;
}
.gach-do {
    border-top: 5px solid red;
    width: 60px;
    position: absolute;
    opacity: 0;
}
.item:hover .gach-do {
    opacity: 1;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.story-item{
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.story-item p{
    font-family: 'Kaushan Script', cursive;
}
.story-item h1{
    font-family: 'Montserrat', sans-serif;
}
.gach-1 {
    background: red;
    width: 200px;
    height: 5px;
    margin: 30px auto;  
}
img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
}

.team-item {
    background-color: #95e1d3;
    margin:30px 30px ;
}

.team-item .content {
    transition: all 0.4s;
    position: relative;
}

.team-item .content > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(230, 129, 128);
    background: linear-gradient(135deg, rgba(230, 129, 128, 0.8) 0%, rgba(233, 209, 131, 0.8) 100%);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.team-item:hover .content > div {
    opacity: 1;
    cursor: pointer;
}
.team-item .content ul  {
    background: #f1c523;
    font-size: 30px;    
}

.team-item .content ul li a{
    color: red;
    display: block;
    width: 100%;
}
.team-item .content ul li a:hover{
    color: white;
    background:red;

}


.team-item:hover .content {
    transform: translate(-10px, -10px);
}

.team-image {
    width: 100%;
    object-fit: cover;
}
.number {
    background: #95e1d3;
}

.number-content {
  display: flex;
}
.number-item {
    width: calc(100% / 5);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 1px solid white;
}

.number-item:last-child{ 
  border-right: 1px solid white;
}

.number-item p {
    font-size: 10px;
    font-weight: bold;
}
.service {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0px 0px 30px;
}
.service-item {
    width: calc(100% / 3);
    margin: 0 0px 48px;
}
.service-item i {
    float: left;
    margin: 4px -21px;
    color: #95e1d3;
}
.service-item p {
    color: #999999;
    margin: 10px;
}
.service-item h2 {
    color: #7a7a7a;
}
.for {
    background-image: linear-gradient(0deg, rgba(241, 241, 241, 0.86), rgba(241, 241, 241, 0.86)),
        url(../img/banner2.png);
    height: 500px;
    background-size: cover;
    position: relative;
}
.img-1 {
    position: absolute;
    top: 111px;
    height: 389px;
    left: 38%;
}
.img-2 {
    position: absolute;
    top: 300px;
    left: 56%;
    height: 256px;
}
.box1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.item-img {
    width: 50%;
}
.item-img img {
    display: block;
    width: 100%;
}
.collapse {
    width: 50%;
    padding: 0px 25px;
}
.collapse-item {
    border: 1px solid #eee;
    margin-bottom: 5px;
}

.collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.collapse-title > span {
    font-weight: 700;
    color: #7a7a7a;
}
.collapse-title .fas1 {
    color: greenyellow;
    margin: 0px 6px;
}

input[type='checkbox'] {
    display: none;
}

.collapse-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}

input[type='checkbox']:checked + .collapse-content {
    height: 155px;
}

.collapse-content > div {
    margin: 10px;
    height: calc(100% - 20px);
    overflow-y: auto;
    color: #999999;
}

.collapse-content > div::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}

.collapse-content > div::-webkit-scrollbar {
    width: 7px;
}

.collapse-content > div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #95e1d3;
}
.sms-item {
    display: flex;
    margin: 50px;
    padding: 15px;
    position: relative;
}

.sms-item .icon {
    border: 1px solid greenyellow;
    padding: 30px;
    font-size: 60px;
    color: greenyellow;
}

.sms {
    width: 100%;
    margin: auto;
    background: #fcf7f7;
}
.sms1 {
    margin: 16px;
}
.gach2-1 {
    width: 50px;
    height: 5px;
    background: red;
    margin: 5px;
}
.muiten .trai {
    left: -11px;
    position: absolute;
    bottom: 70px;
    
   
}
.muiten .phai {
    right: -11px;
    position: absolute;
    bottom: 70px;
    
}
.phai a,.trai a{
    color: #999999;
}
.gach21 {
    display: flex;
}
.sms1 p {
    color: rgb(197, 188, 188);
    font-weight: bold;
}
.icon-fas ul li {
    display: inline-block;
}
.logo1 {
    display: flex;
    background: #f5f5f5;
}
.logo-item {
    width: calc(100% / 6);
    float: left;
    margin: 0px;
    text-align: center;
    padding: 20px;
}
.logo img {
    display: block;
    width: 100%;
}

/*     some*/
.wrapper-some {
    float: left;
    width: calc(100% / 4);
    position: relative;
    
}
img {
  display: block;
  max-width: 100%;
}

.item-some {
  background-color: #95e1d3;
}

.item-some .content {
  transition: all 0.4s;
  position: relative;
}

.item-some .content > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 129, 128);
  background: linear-gradient(
    135deg,
    rgba(230, 129, 128, 0.8) 0%,
    rgba(233, 209, 131, 0.8) 100%
  );
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: 0.4s;
}

.item-some:hover .content > div {
  opacity: 1;
  cursor: pointer;
}

.team-image-some {
  width: 100%;
  object-fit: cover;
}
.item-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*some*/

.icon img {
    margin: 12px;
}
.people {
    background-image: linear-gradient(0deg, rgba(241, 241, 241, 0.86), rgba(241, 241, 241, 0.86)),
        url(../img/banner2.png);
        height: 620px;
        background-size: cover;
        background-position: center;    
}
.people-item {
    float: left;
    margin: 0px 0px 45px 0px;
    width: calc(100% / 2);
    padding: 30px 0px 1px 11px;
    line-height: 20px;
}
.people-item img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 14px;
}
.people-item .gach2 {
    width: 100px;
    height: 2px;
    background: red;
    margin: 10px 129px;
}
.latest {
    clear: both;
}
.bottom-latest {
    width: 100%;
    height: 1px;
    background: #999999;
}
.latest-item1 {
    width: calc(100% / 3);
    float: left;
    padding: 20px;
    position: relative;
}
.latest-item1 p {
    margin: 10px;
    color: #999999;
}
.latest-item1 i {
    color: #95e1d3;
}
.latest-item1 a {
    color: #999999;
}
.date {
    position: absolute;
    background: #95e1d3;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 177px;
    left: 0;
}
.map {
    clear: both;
    background-image: linear-gradient(0deg, rgba(241, 241, 241, 0.86), rgba(241, 241, 241, 0.86)),
        url(../img/banner2.png);
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    background-position: center;
}
.map i {
    color: red;
}
.map-gach {
    width: 100px;
    height: 5px;
    background: red;
}

.mogoitem {
    width: calc(100% / 3);
    float: left;
    border-bottom: 2px solid #999999;
    height: 320px;
}
.mogo-item1 ul li {
    display: inline-block;
}
.mogo-item1 {
    line-height: 25px;
}
.mogo-item1 h1,
.mogo-item1 p {
    color: #999999;
}

.mogo-item1 i {
    color: #1abc9c;
}
.mogo-item1 input {
    background: white;
    background: none;
    outline: none;
}
.mogo-item1 a {
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: white;
    text-transform: uppercase;
}
.mogo-item2 p {
    color: var(--den);
}
.mogo-item2 span {
    color: #999999;
}
.blogsb {
    margin: 5px;
}
.item-blocgs {
    display: flex;
    margin: 6px 0px;
}
.list{
    display: flex;
    /* width: calc(100%/3); */
    flex-wrap: wrap;
}

.list-item {
    padding: 1px;
}

.end p {
    text-align: center;
    color: #7a7a7a;
    font-size: 20px;
}
